.headerBackground {
    margin: 40px 0 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    grid-column: 2;
    text-decoration: none;
    text-align: center;
}

.header__navToggler {
    grid-column: 3;
    text-align: right;
}

.header__profile {
    grid-column: 1;
    grid-row: 1;
}

.headerProfile {
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #262626;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.headerProfile:hover {
    text-decoration: underline;
    color: #0000cc;
}

.headerProfile__icon {
    display: inline-block;
    background: url('/static/profile.svg');
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.headerProfile__text {
    margin-left: 8px;
    display: none;
}

.headerToggler {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;

    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.headerToggler:hover {
    cursor: pointer;
}

.headerToggler__icon {
    width: 18px;
    height: 12px;
}

.header__nav {
    display: none;
    grid-column: 1 / span 3;
    grid-row: 2;
}

.header__nav.header__nav_opened {
    display: block;
}

.headerMenu {
    list-style: none;
    margin: 48px 0;
    padding: 0;

    display: block;
}

.headerMenu__item {
    display: block;
    text-align: center;

    margin-bottom: 24px;
}

.headerMenu__item:last-child {
    margin-bottom: 0;
}

.headerMenu__link {
    text-decoration: none;
    color: #262626;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.headerMenu__link:hover {
    text-decoration: underline;
    color: #0000cc;
}

@media (min-width: 768px) {
    .header__navToggler {
        display: none;
    }

    .header__nav {
        display: block;
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }

    .header__profile {
        grid-column: 3;
        text-align: right;
    }

    .headerProfile__text {
        display: inline;
    }

    .headerMenu {
        margin: 0;
    }

    .headerMenu__link {
        font-size: 12px;
        line-height: 16px;
    }

    .headerMenu__item {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 24px;
    }

    .headerMenu__item:last-child {
        margin-right: 0;
    }
}
