.header-background {
    margin: 40px 0 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    grid-column: 2;
    text-decoration: none;
    text-align: center;
}

.header__nav-toggler {
    grid-column: 3;
    text-align: right;
}

.header-toggler {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;

    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.header-toggler:hover {
    cursor: pointer;
}

.header-toggler__icon {
    width: 18px;
    height: 12px;
}

.header__nav {
    display: none;
    grid-column: 1 / span 3;
}

.header__nav-toggler_opened + .header__nav {
    display: block;
}

.header-menu {
    list-style: none;
    margin: 48px 0;
    padding: 0;

    display: block;
}

.header-menu__item {
    display: block;
    text-align: center;

    margin-bottom: 24px;
}

.header-menu__item:last-child {
    margin-bottom: 0;
}

.header-menu__link {
    text-decoration: none;
    color: #262626;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.header-menu__link:hover {
    text-decoration: underline;
    color: #0000cc;
}

@media (min-width: 768px) {
    .header__nav-toggler {
        display: none;
    }

    .header__nav {
        display: block;
        grid-column: 3;
        text-align: right;
    }

    .header-menu {
        margin: 0;
    }

    .header-menu__link {
        font-size: 12px;
        line-height: 16px;
    }

    .header-menu__item {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 24px;
    }

    .header-menu__item:last-child {
        margin-right: 0;
    }
}
