.event-card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.event-card_disabled {
    background: #fafafa;
}

.event-card:hover {
    background: linear-gradient(93.71deg, rgba(176, 126, 197, 0.1) 0%, rgba(87, 227, 201, 0.1) 100%), #ffffff;
}

.event-card__date {
    font-size: 12px;
    line-height: 16px;
    padding: 0 24px;

    color: #262626;

    margin: 24px 0 0;
}

.event-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 0 24px;
    margin: 16px 0 0 0;
    white-space: nowrap;

    color: #262626;
}

.event-card__description {
    font-size: 14px;
    line-height: 20px;
    padding: 0 24px;
    margin: 8px 0 0 0;

    color: #262626;
    flex: 100% 1 1;
}

.event-card__footer {
    margin: 48px 0 24px 0;
    padding: 0 24px;
}

.event-card__link {
    display: inline-flex;
    align-items: center;

    font-size: 12px;
    line-height: 16px;

    color: #0000cc;
    text-decoration: none;
}

.event-card__link-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
