{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "es2016",
    "es2017",
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-object-assign"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}