{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "react-feather",
        "libraryDirectory": "dist/icons"
      }
    ]
  ]
}
