.schedule-table {
    border-collapse: collapse;
}

.schedule-table__zone {
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.schedule-table__time {
    vertical-align: top;
    font-size: 14px;
    line-height: 20px;

    color: #262626;

    padding-top: 40px;
    padding-right: 16px;
}

.schedule-table__activity-cell {
    vertical-align: top;
    padding-top: 24px;
    padding-right: 24px;
}

.schedule-table__activity-cell:last-child {
    padding-right: 0;
}

.schedule-activity {
    display: inline-block;
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 16px;
}

.schedule-activity__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.schedule-activity__author {
    margin-top: 8px;

    font-size: 12px;
    line-height: 16px;

    color: #262626;
}
