.container {
    padding: 20px 0;
    background-image: linear-gradient(145deg, #46324f 0%, #225b51 100%);
}

.title {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: calc(1em + 21px);
}

.title:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    bottom: -20px;
    border-bottom: white 1px solid;
}

@media (min-width: 720px) {
    .title {
        font-size: 42px;
        margin-bottom: calc(1em + 22px);
    }

    .title:after {
        border-bottom-width: 2px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 22px;
}

@media (min-width: 720px) {
    .cards {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .cards {
        width: 996px;
        margin: 0 auto;
    }
}

.card {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 40px;
    width: 100%;
    max-width: 300px;
}