.container {
    background: white;
    position: relative;
}

.map {
    display: block;
    width: 100%;
    height: 482px;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
}