.author {
    display: flex;
    align-items: center;
}

.author__avatar {
    display: block;

    border-radius: 50%;
    width: 48px;
    height: 48px;
    flex: 48px 0 0;
    margin-right: 8px;
}

.author_small .author__avatar {
    width: 24px;
    height: 24px;
    flex: 24px 0 0;
}

.author__details {
    display: flex;
    flex-direction: column;
}

.author__name {
    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.author_small .author__name {
    font-size: 12px;
    line-height: 16px;
}

.author__position {
    font-size: 12px;
    line-height: 16px;

    color: #a0a0a0;
}

.author_small .author__position {
    display: none;
}
