.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.navbar .nav-link .feather {
    margin-right: 4px;
}

@media (min-width: 768px) {
    .navbar-brand {
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
    }

    .navbar-brand.active {
        background-color: rgba(0, 0, 0, 0.25);
    }
}
