@font-face {
    font-family: 'Hagrid';
    src: url('/hagrid-bold.woff2') format('woff2-variations');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('/brutal-type-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.background {
    background: rgba(20, 19, 29, 0.3);
}

.headerImage {
    background-image: url('../../public/breakfast-header.svg');
    background-size: cover;
}

.infoImage {
    background-image: url('../../public/breakfast-info.svg');
    background-size: cover;
}

.mainImage {
    background-image: url('../../public/breakfast-main.svg');
    background-size: cover;
}

.brutalType {
    font-family: 'Brutal Type';
}

.hagridType {
    font-family: 'Hagrid';
}
