.headerImage {
    background-image: url('../../public/breakfast-header.svg');
    background-size: cover;
}

.infoImage {
    background-image: url('../../public/breakfast-info.svg');
    background-size: cover;
}

.mainImage {
    background-image: url('../../public/breakfast-main.svg');
    background-size: cover;
}
