.eventTalks__list {
    grid-area: list;
    display: grid;
    grid-template-columns: minmax(min-content, 384px);
    justify-content: center;

    grid-gap: 24px;

    margin: 24px 0 0;
    padding: 0;
}

@media (min-width: 640px) {
    .eventTalks__list {
        grid-template-columns: repeat(2, minmax(min-content, 384px));
    }
}

@media (min-width: 968px) {
    .eventTalks__list {
        justify-content: initial;
        grid-template-columns: repeat(3, 1fr);
    }
}

.eventPriceButton {
    text-align: center;
    margin: 48px;
}

.eventPriceButton__description {
    font-size: 12px;
    line-height: 16px;
    color: #a0a0a0;
    text-align: center;
    margin: 16px 0;
    padding: 0;
}

.eventPriceItems {
    margin: 48px 0;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}

.eventPriceItem__title {
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    font-weight: bold;
}

.eventPriceItem__value {
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.eventScheduleDate {
    display: inline-block;
    background: none;
    border: none;
    margin: 0 0 0 16px;
    font-size: 14px;
    line-height: 20px;

    color: #a0a0a0;
    cursor: pointer;
    box-shadow:
        0 1px 8px rgba(0, 0, 0, 0.06),
        0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 6px 12px;
}

.eventScheduleDate_active {
    color: #0000cc;
    box-shadow:
        0 1px 10px rgba(0, 0, 0, 0.06),
        0 3px 3px rgba(0, 0, 0, 0.12);
}

.eventScheduleTable__wrapper {
    justify-self: start;

    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 8px 8px 0;
    max-width: 100%;
    box-sizing: border-box;
}

.eventScheduleTable__wrapper:after {
    display: inline-block;
    content: '';
    width: 8px;
}

.eventScheduleTable {
    display: inline-table;
}
