.event__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    color: #262626;
}

.event__date {
    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.event__image {
    display: block;
    border-radius: 4px;
    height: 144px;
    margin: 40px 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    .event__image {
        height: 300px;
    }
}
