.event-block {
    margin: 64px 0;
}

.event-block:last-child {
    margin-bottom: 0;
}

.event-talks {
    display: grid;
    grid-template:
        'title cfp'
        'list list';
}

.event-talks__title {
    grid-area: title;
}

.event-talks__list {
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;

    margin: 24px 0 0;
    padding: 0;
}

@media (min-width: 620px) {
    .event-talks__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 926px) {
    .event-talks__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1232px) {
    .event-talks__list {
        grid-template-columns: repeat(4, 1fr);
    }
}

.event-price {
    display: grid;
    grid-template:
        'title'
        'table'
        'description'
        'button';
}

.event-price__title {
    grid-area: title;
}

.event-price__table-wrapper {
    margin-top: 24px;
    grid-area: table;
    justify-self: start;

    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.event-price__table {
    min-width: 100%;
    border: none;
    border-collapse: collapse;
}

.event-price__table thead th {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #262626;
    text-align: left;
    padding: 16px 8px;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
}

.event-price__table tbody td {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #a0a0a0;
    text-align: left;
    padding: 16px 8px;
    white-space: nowrap;
}

.event-price__table tbody tr td {
    border-top: 1px solid #e0e0e0;
}

.event-price__table td.event-price__table-row-title {
    font-weight: normal;
}

.event-price__description {
    grid-area: description;
    font-size: 14px;
    line-height: 20px;
    color: #262626;
    margin: 8px 0 16px;
    padding: 0;
}

.event-price__description p,
.event-price__description ol,
.event-price__description ul {
    margin: 16px 0;
}

.event-price__button {
    grid-area: button;
    justify-self: center;
}

.event-schedule {
    display: grid;
    grid-template:
        'title dates'
        'table table';
}

.event-schedule__title {
    grid-area: title;
}

.event-schedule__dates {
    grid-area: dates;
    align-self: center;
    justify-self: end;
}

.event-schedule__date {
    display: inline-block;
    background: none;
    border: none;
    margin: 0 0 0 16px;
    padding: 0;

    font-size: 14px;
    line-height: 20px;

    color: #a0a0a0;
}

.event-schedule__date_active {
    color: #0000cc;
}

.event-schedule__table-wrapper {
    margin-top: 24px;
    grid-area: table;
    justify-self: start;

    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 8px 8px 0;
    max-width: 100%;
    box-sizing: border-box;
}

.event-schedule__table-wrapper:after {
    display: inline-block;
    content: '';
    width: 8px;
}

.event-schedule__table {
    display: inline-table;
}

.event-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 0;

    color: #262626;
}

.event-image {
    display: block;
    border-radius: 4px;
    height: 144px;
    margin: 40px 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center center;
}

.event-description {
    margin: 16px 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.event-information {
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: grid;
    grid-gap: 24px;
    padding: 24px;
    margin: 40px 0;

    list-style: none;
}

@media (min-width: 768px) {
    .event-information {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}

.event-information__item {
    display: block;
}

.event-information-item {
}

.event-information-item__name {
    display: block;
    margin: 0 0 16px 0;
    padding: 0;

    font-size: 12px;
    line-height: 16px;

    color: #767676;
}

.event-information-item__content {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.event-information-item__action {
    display: inline-block;
    margin: 8px 0 0 0;
    padding: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #0000cc;

    text-decoration: none;
}

.event-information-item__action:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .event-image {
        height: 300px;
    }
}
