.order-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 40px 0 0;

    color: #262626;
}

fieldset {
    display: block;
    margin: 16px 0;
    padding: 16px;
    border: 1px solid #e0e0e0;
}

fieldset > legend {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #767676;
    padding: 0 8px;
}

label {
    display: block;

    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #767676;
    margin: 0 0 8px;
    padding: 0;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
    display: block;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    margin: 0 0 16px;

    color: #a0a0a0;
}

select {
    margin: 0 0 16px;
}

.error {
    font-size: 12px;
    line-height: 16px;
    color: #f44336;
    margin: -8px 0 16px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus {
    border: 1px solid #0000cc;
    outline: none;
}
