.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
}

@media (min-width: 620px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 926px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1232px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}
