.event-talks__list {
    grid-area: list;
    display: grid;
    grid-template-columns: minmax(min-content, 384px);
    justify-content: center;

    grid-gap: 24px;

    margin: 24px 0 0;
    padding: 0;
}

@media (min-width: 640px) {
    .event-talks__list {
        grid-template-columns: repeat(2, minmax(min-content, 384px));
    }
}

@media (min-width: 968px) {
    .event-talks__list {
        justify-content: initial;
        grid-template-columns: repeat(3, 1fr);
    }
}

.event-price-button {
    text-align: center;
    margin: 48px;
}

.event-price-button__description {
    font-size: 12px;
    line-height: 16px;
    color: #a0a0a0;
    text-align: center;
    margin: 16px 0;
    padding: 0;
}

.event-price-items {
    margin: 48px 0;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}

.event-price-item__title {
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    font-weight: bold;
}

.event-price-item__value {
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.event-price-description {
    font-size: 14px;
    line-height: 20px;
    color: #262626;
    margin: 8px 0 0;
    padding: 0;
}

.event-price-description p,
.event-price-description ol,
.event-price-description ul {
    margin: 16px 0;
}

.event-schedule-date {
    display: inline-block;
    background: none;
    border: none;
    margin: 0 0 0 16px;
    padding: 0;

    font-size: 14px;
    line-height: 20px;

    color: #a0a0a0;
    cursor: pointer;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 6px 12px;
}

.event-schedule-date_active {
    color: #0000cc;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.12);
}

.event-schedule-table__wrapper {
    justify-self: start;

    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 8px 8px 0;
    max-width: 100%;
    box-sizing: border-box;
}

.event-schedule-table__wrapper:after {
    display: inline-block;
    content: '';
    width: 8px;
}

.event-schedule-table {
    display: inline-table;
}

.event-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 0;

    color: #262626;
}

.event-image {
    display: block;
    border-radius: 4px;
    height: 144px;
    margin: 40px 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center center;
}

.event-description {
    margin: 16px 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.event-information {
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: grid;
    grid-gap: 24px;
    padding: 24px;
    margin: 40px 0;

    list-style: none;
}

@media (min-width: 768px) {
    .event-information {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}

.event-information__item {
    display: block;
}

.event-information-item__name {
    display: block;
    margin: 0 0 16px 0;
    padding: 0;

    font-size: 12px;
    line-height: 16px;

    color: #767676;
}

.event-information-item__content {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 20px;

    color: #262626;
}

.event-information-item__action {
    display: inline-block;
    margin: 8px 0 0 0;
    padding: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #0000cc;

    text-decoration: none;
}

.event-information-item__action:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .event-image {
        height: 300px;
    }
}
