.footer-background {
    margin: 40px 0 0 0;
    background: linear-gradient(93.71deg, rgba(176, 126, 197, 0.05) 0%, rgba(87, 227, 201, 0.05) 100%);
    padding: 40px 0;
    box-sizing: border-box;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-row-gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    grid-column: 2;
    text-decoration: none;
    text-align: center;
}

.footer-menu {
    grid-column: 2;
    list-style: none;
    margin: 0;
    padding: 0;

    display: block;
}

.footer-menu__item {
    display: inline-block;
    margin-right: 24px;
}

.footer-menu__item:last-child {
    margin-right: 0;
}

.footer-menu__link {
    text-decoration: none;
    color: #0000cc;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.footer-menu__link:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .footer-background {
        height: 128px;
    }

    .footer-menu {
        grid-column: 3;
        text-align: right;
    }
}
