.talk-card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: relative;
}

.talk-card__body {
    margin: 24px 0 0;
    padding: 0 24px;
    flex: 100% 1 1;
}

.talk-card__footer {
    margin: 48px 0 24px;
    padding: 0 24px;
}

.talk-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #262626;

    margin: 0;
}

.talk-card__description {
    display: none;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    background: white;
    color: #262626;
    margin: 0;
    padding: 8px 24px;
}

.talk-card__description p {
    margin: 16px 0;
}

.talk-card:hover .talk-card__description {
    display: block;
}
