body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    line-height: 20px;
}

html,
body {
    height: 100%;
}

#__next {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

.button {
    background: none;
    border: 1px solid #0000cc;
    border-radius: 2px;
    padding: 8px 16px;
    margin: 0;

    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #0000cc;
    text-decoration: none;
}

.button_full-width {
    width: 100%;
    text-align: center;
}

.button_size_small {
    padding: 4px 8px;
    line-height: 12px;
}

.button_theme_link {
    border: none;
}

.button_theme_blue {
    background: #0000cc;
    color: white;
}

.button_theme_inline {
    padding: 0;
    border: none;

    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

.button-group {
    display: flex;
}

.button-group > .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group > .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    margin-left: -1px;
}

#__next {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0 auto 1fr auto;
    min-height: 100%;
}

/* Section */
.section {
    padding: 40px 0;

    display: grid;
    grid-template:
        'title title'
        'action action'
        'content content';
    grid-row-gap: 24px;
}

.section__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    color: #262626;

    grid-area: title;
}

.section__action {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #0000cc;
    justify-self: center;
    text-decoration: none;

    grid-area: action;
}

.section__content {
    grid-area: content;
}

@media (min-width: 480px) {
    .section {
        grid-template:
            'title action'
            'content content';
    }

    .section__action {
        justify-self: flex-end;
        align-self: center;
    }
}

/* inputs */

label {
    display: inline-block;
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 16px;
    color: #767676;
}

input,
select {
    margin: 0;
    font-family: inherit;
}

.form-control {
    display: block;
    width: 100%;

    padding: 8px 16px;

    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #262626;

    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    background: #ffffff;
}

select {
    -webkit-appearance: none;
}

.form-control:focus {
    outline: 0;
    border: 1px solid #0000cc;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-control:disabled {
    color: #a0a0a0;
    background: #e0e0e0;
    -webkit-text-fill-color: #a0a0a0;
    opacity: 1;
}

.invalid-feedback {
    width: 100%;

    font-size: 12px;
    line-height: 16px;
    color: #f44336;

    margin-top: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table td,
table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table th {
    text-align: inherit;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
