body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    line-height: 20px;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.button {
    background: none;
    border: 1px solid #0000cc;
    padding: 8px 24px;
    margin: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #0000cc;
    text-decoration: none;
}

.button_small {
    padding: 4px 8px;
    line-height: 12px;
}

html,
body {
    height: 100%;
}

#__next {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}
