.container {
    padding: 20px 0;
    background: #252525;
    font-size: 14px;
    text-align: center;
}

.copyright {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: white;
    text-align: center;
}

.designBy {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

.button {
    display: flex;
    margin: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 1em 2em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button:hover {
    color: white;
}

@media (min-width: 480px) {
    .button {
        display: inline-block;
    }
}

.buttonGreen {
    background: #26d2b4;
    box-shadow: 0 2px 30px 0 rgba(38, 210, 180, 0.4);
    transition: box-shadow 0.2s;
}

.buttonGreen:hover {
    box-shadow: 0 2px 60px 0 rgba(38, 210, 180, 0.4);
}

.buttonPurple {
    background: #d571ff;
    box-shadow: 0 2px 30px 0 rgba(176, 126, 197, 0.4);
    transition: box-shadow 0.2s;
}

.buttonPurple:hover {
    box-shadow: 0 2px 60px 0 rgba(176, 126, 197, 0.4);
}