.indexHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 24px;
    margin: 40px 0;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/index-header@2x.jpg);
    background-size: auto, cover;
    background-position: left top, center center;

    border-radius: 4px;
}

.indexHeader__title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    color: white;
}

.indexHeader__description {
    margin: 16px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: white;
}

.indexSectionBackground:nth-child(even) {
    background: linear-gradient(97.81deg, rgba(176, 126, 197, 0.05) 0%, rgba(87, 227, 201, 0.05) 100%);
}

@media (min-width: 644px) {
    .indexHeader {
        height: 300px;
    }

    .indexHeader__title,
    .indexHeader__description {
        max-width: 564px;
    }
}
