.orderTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 40px 0;

    color: #262626;
}

.orderContainer {
    text-align: center;
}

.orderSteps {
    display: inline-flex;
}

.orderStep {
    position: relative;
    text-align: center;
    padding: 0 12px;
    width: 100%;
    flex: 100% 1 1;
    box-sizing: content-box;
}

.orderStep:first-child {
    padding-left: 0;
}

.orderStep:last-child {
    padding-right: 0;
}

.orderStep:before,
.orderStep:after {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    top: 24px;
    background: #e0e0e0;
}

.orderStep:before {
    left: 0;
}

.orderStep:after {
    left: 50%;
}

.orderStep:first-child:before {
    display: none;
}

.orderStep:last-child:after {
    display: none;
}

.orderStep__number {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    border-radius: 50%;

    background: #e0e0e0;
    color: #a0a0a0;

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 8px;
}

.orderStep__name {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #a0a0a0;
}

.orderStep_status_active .orderStep__number {
    color: white;
    background: #0000cc;
}

.orderStep_status_active .orderStep__name {
    color: #0000cc;
}

.orderStep_status_finished .orderStep__number {
    color: white;
    background: #7cb342;
}

.orderStep_status_finished .orderStep__name {
    color: #7cb342;
}

.orderStep_status_finished + .orderStep:before {
    background: #7cb342;
}

.orderStep_status_finished.orderStep:after {
    background: #7cb342;
}

.orderStepForm {
    width: 100%;
    text-align: left;
    margin: 40px auto 0;
}

@media (min-width: 384px) {
    .orderStepForm {
        width: 384px;
    }
}

.orderStepForm .orderStepForm__title {
    display: block;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #262626;

    margin-bottom: 24px;
}

.orderStepForm__buttons {
    margin-top: 24px;
    text-align: center;
}

.orderStepForm .orderStepForm__information {
    font-size: 12px;
    line-height: 16px;

    color: #262626;
}
